body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-size: 16px;
}

em, i {
  font-style: normal;
}

b, strong {
  font-weight: 100;
}

ul, ol, li {
  list-style: none;
}

a, u {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
  display: block;
}

table {
  border-collapse: collapse;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.top {
  width: 100%;
}

.top .top_container {
  width: 100%;
  height: 29px;
  background: #F5F5F5;
  border-bottom: 1px solid #E7E7E7;
}

.top .top_container .top_center {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.top .top_container .top_center ul li {
  width: 75px;
  float: left;
  height: 29px;
  text-align: center;
  line-height: 29px;
}

.top .top_container .top_center ul li > a {
  color: #FF0033;
  font-size: 12px;
  font-weight: bold;
}

.top .top_container .top_center ul li a:hover {
  color: #C80A28;
  text-decoration: none;
}

.top .top_container .top_center ul li .collect {
  color: #565656;
}

.top .top_container .top_center ul li .collect:hover {
  color: #C80A28;
}

.top .top_container .top_center .login_out {
  float: right;
}

.top .top_container .top_center .login_out .welcome {
  display: block;
  line-height: 29px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.top .top_container .top_center .login_out > a {
  display: block;
  float: left;
  line-height: 29px;
  font-size: 12px;
  color: #565656;
  font-weight: bold;
}

.top .top_container .top_center .login_out a:hover {
  color: #C80A28;
  text-decoration: none;
}

.top .top_container .top_center .login_out .login {
  margin-left: 16px;
}

.top .top_container .top_center .login_out .register {
  color: #C80A28;
  margin-left: 9px;
}

.top .top_container .top_center .login_out .shoppingCar {
  margin-left: 15px;
  width: 45px;
  background: url(../images/line.jpg) no-repeat 100% 50%;
}

.top .top_container .top_center .login_out .online-service {
  margin-left: 13px;
}

.top .top_container .top_center .login_out .help-center {
  margin-left: 21px;
}

.top .top_container .top_center .login_out .websiteNav {
  float: left;
}

.top .top_container .top_center .login_out > a {
  margin-left: 21px;
}

.top .top_container .top_center .login_out a i {
  display: block;
  line-height: 29px;
  width: 12px;
  margin-right: 5px;
  float: left;
  margin-top: 10px;
  height: 10px;
  background: url(../images/icon.png) no-repeat -32px -28px;
}

.top .websiteNav .siteMenuA {
  display: block;
  float: left;
  line-height: 29px;
  font-size: 12px;
  color: #565656;
  font-weight: bold;
  margin-left: 21px;
}

.top .websiteNav .siteMenu {
  width: 1184px;
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  background: white;
  padding: 7px;
  border: 1px solid #E7E7E7;
  z-index: 9;
}

.top .websiteNav .siteMenu ul {
  width: 15%;
  float: left;
  height: 137px;
  margin-left: 25px;
  border-right: #e5e5e5 1px solid;
}

.top .websiteNav .siteMenu ul span {
  margin-left: 3px;
}

.top .websiteNav .siteMenu ul h3 {
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
}

.top .websiteNav .siteMenu ul li {
  width: 50%;
  height: 24px;
  line-height: 24px;
  float: left;
  text-align: left;
}

.top .websiteNav .siteMenu ul li > a {
  color: #666666;
  font-size: 12px;
  font-weight: normal;
}

.top .websiteNav .siteMenu ul li a:hover {
  text-decoration: none;
}

.top .websiteNav .siteMenu .hot h3 {
  color: #f56b03;
}

.top .websiteNav .siteMenu .Hstyle {
  width: 25%;
}

.top .websiteNav .siteMenu .Hstyle h3 {
  color: #ec0736;
}

.top .websiteNav .siteMenu .AMH h3 {
  color: #2263d4;
}

.top .websiteNav .siteMenu .AMH li {
  width: 100%;
  line-height: 24px;
  float: left;
}

.top .websiteNav .siteMenu .mini h3 {
  color: #5e8e3d;
}

.top .websiteNav .siteMenu .mini li {
  width: 100%;
  line-height: 24px;
  float: left;
}

.top .websiteNav .siteMenu .help {
  border-right: none;
}

.top .websiteNav .siteMenu .help h3 {
  color: #686868;
}

.top .logo_search {
  width: 1200px;
  margin: 0 auto;
  height: 133px;
}

.top .logo_search h1 {
  width: 355px;
  height: 75px;
  margin-top: 13px;
  float: left;
}

.top .logo_search h1 a {
  display: block;
  width: 100%;
  height: 100%;
}

.top .logo_search .search {
  width: 492px;
  float: left;
  margin-left: 45px;
  margin-top: 28px;
}

.top .logo_search .search .search_con {
  height: 36px;
  background: #C80A28;
}

.top .logo_search .search .search_con .text {
  width: 407px;
  margin: 2px 0 0 2px;
  height: 32px;
  border: none;
  float: left;
  outline: none;
  color: #C80A28;
}

.top .logo_search .search .search_con .button {
  width: 81px;
  background: #C80A28;
  height: 32px;
  margin: 2px 0 0 2px;
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.top .logo_search .search .search_list {
  margin-top: 10px;
}

.top .logo_search .search .search_list li {
  width: 65px;
  float: left;
  background: url(../images/line2.jpg) no-repeat 90% 84%;
}

.top .logo_search .search .search_list li a {
  font-size: 12px;
  color: #666;
}

.top .logo_search .search .search_list li a:hover {
  text-decoration: none;
  color: #C80A28;
}

.top .logo_search .code {
  float: left;
  margin: 16px 0 0 168px;
}

.top .logo_search .code img {
  width: 100px;
  height: 100px;
}

.top .logo_search .code span {
  display: block;
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  color: #FF0032;
  font-weight: bold;
}

.top .allClassify_container {
  width: 1200px;
  margin: 0 auto;
}

.top .allClassify_container .allClassify > a {
  display: block;
  width: 100px;
  height: 33px;
  float: left;
  line-height: 33px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.top .allClassify_container a:hover {
  text-decoration: none;
  color: #C80A28;
}

.top .allClassify_container .allClassify {
  float: left;
  position: relative;
  z-index: 2;
}

.top .allClassify_container .allClassify > a {
  width: 190px;
  background: #FE0032;
  color: white;
}

.top .allClassify_container .allClassify .navList {
  position: absolute;
  height: 450px;
  top: 33px;
  left: 0;
  background: #e3e3e3;
}

.top .allClassify_container .allClassify .navList li {
  width: 164px;
  padding: 9px 13px;
  position: relative;
  border-bottom: 1px dotted #ccc;
  float: left;
}

.top .allClassify_container .allClassify .navList li h3 {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  height: 24px;
}

.top .allClassify_container .allClassify .navList li h3 .listNav1 {
  display: inline-block;
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 5px 0 0;
}

.top .allClassify_container .allClassify .navList li h3 .listNav1 img {
  width: 100%;
  height: 100%;
}

.top .allClassify_container .allClassify .navList li h3 .listNav1 .show {
  display: block;
}

.top .allClassify_container .allClassify .navList li > a {
  width: auto;
  height: auto;
  display: inline-block;
  color: #555;
  font-size: 12px;
  margin: 0 1px;
}

.top .allClassify_container .allClassify .navList li a:hover {
  text-decoration: underline;
}

.top .allClassify_container .allClassify .navList li > span {
  display: block;
  position: absolute;
  width: 6px;
  height: 9px;
  top: 17px;
  right: 8px;
  background: url("../images/leftjt.png") no-repeat;
}

.top .allClassify_container .allClassify .navList .on {
  background: black;
}

.top .allClassify_container .allClassify .navList .on h3 {
  color: #ffffff;
}

.top .allClassify_container .allClassify .navList .on a {
  color: #ffffff;
}

.top .allClassify_container .first_show, .top .allClassify_container .second_show, .top .allClassify_container .three_show, .top .allClassify_container .four_show, .top .allClassify_container .five_show {
  width: 500px;
  height: 450px;
  position: absolute;
  left: 190px;
  top: 33px;
  display: none;
}

.top .allClassify_container .first_show a:hover, .top .allClassify_container .second_show a:hover, .top .allClassify_container .three_show a:hover, .top .allClassify_container .four_show a:hover, .top .allClassify_container .five_show a:hover {
  text-decoration: underline;
  color: #8B8989;
}

.top .allClassify_container .first_show1 {
  background: RGBA(255, 255, 255, 1);
  height: 450px;
  width: 250px;
}

.top .allClassify_container .first_show1 ul {
  float: left;
}

.top .allClassify_container .first_show1 ul li {
  width: 92px;
  height: 50px;
  position: relative;
  float: left;
}

.top .allClassify_container .first_show1 ul li img {
  width: 70px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.top .allClassify_container .second_show1, .top .allClassify_container .three_show1, .top .allClassify_container .four_show1, .top .allClassify_container .five_show1 {
  background: RGBA(255, 255, 255, 0.9);
  height: 448px;
  padding: 2px 12px 0 13px;
}

.top .allClassify_container .second_show1 ul, .top .allClassify_container .three_show1 ul, .top .allClassify_container .four_show1 ul, .top .allClassify_container .five_show1 ul {
  width: 100%;
  border-bottom: 1px dashed #DEDBDB;
  margin-top: 9px;
}

.top .allClassify_container .second_show1 ul h3, .top .allClassify_container .three_show1 ul h3, .top .allClassify_container .four_show1 ul h3, .top .allClassify_container .five_show1 ul h3 {
  font-size: 18px;
  color: #393636;
}

.top .allClassify_container .second_show1 ul li, .top .allClassify_container .three_show1 ul li, .top .allClassify_container .four_show1 ul li, .top .allClassify_container .five_show1 ul li {
  float: left;
  line-height: 24px;
  height: 24px;
  background: url("../images/line.jpg") no-repeat right center;
  padding: 0 9px;
}

.top .allClassify_container .second_show1 ul li a, .top .allClassify_container .three_show1 ul li a, .top .allClassify_container .four_show1 ul li a, .top .allClassify_container .five_show1 ul li a {
  font-size: 12px;
  color: #8B8989;
}

.top .allClassify_container .second_show1 ul li:last-child, .top .allClassify_container .three_show1 ul li:last-child, .top .allClassify_container .four_show1 ul li:last-child, .top .allClassify_container .five_show1 ul li:last-child {
  background: none;
}

.top .allClassify_container .three_show1 .img, .top .allClassify_container .four_show1 .img, .top .allClassify_container .five_show1 .img {
  display: block;
  width: 70px;
  height: 25px;
  float: left;
  margin-top: 10px;
  padding: 0 25px 0 21px;
}

.top .allClassify_container .four_show1 {
  width: 500px;
  height: 330px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.top .allClassify_container .five_show1 {
  width: 500px;
  height: 160px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.top .allClassify_container .group_buying {
  width: 100px;
  margin-left: 16px;
  display: block;
  height: 33px;
  float: left;
  line-height: 33px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.top .allClassify_container .inform_adver {
  float: right;
  width: 200px;
}

.top .allClassify_container .inform_adver .information {
  background: url(../images/sjt.png) no-repeat 85% 50%;
}

.top .allClassify_container .inform_adver a {
  display: block;
  width: 100px;
  height: 33px;
  float: left;
  line-height: 33px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  margin-top: 58px;
}

.footer .help {
  width: 1133px;
  height: 125px;
  background: #FAFAFA;
  padding-top: 20px;
  padding-left: 67px;
}

.footer .help .help_info1 h4 {
  background-position: -8px 1px;
}

.footer .help .help_info2 h4 {
  background-position: -8px -34px;
}

.footer .help .help_info3 h4 {
  background-position: -8px -67px;
}

.footer .help .help_info4 h4 {
  background-position: -8px -100px;
}

.footer .help .help_info5 h4 {
  background-position: -8px -133px;
}

.footer .help .help_info6 {
  width: 133px;
}

.footer .help .help_info6 h4 {
  background-position: -8px -166px;
}

.footer .help_info {
  float: left;
  width: 200px;
}

.footer .help_info h4 {
  width: 100px;
  height: 20px;
  text-indent: -99999px;
  background: url(../images/footer01.png) no-repeat;
  margin-bottom: 4px;
}

.footer .help_info li {
  height: 20px;
  line-height: 20px;
}

.footer .help_info li a {
  font-size: 12px;
  color: #565656;
}

.footer .promise {
  width: 100%;
  height: 95px;
  margin: 20px 0;
  background: url(../images/feature1.png) no-repeat top center;
}

.footer .link {
  width: 100%;
  height: 30px;
  background: #393939;
}

.footer .link ul {
  width: 696px;
  margin: 0 auto;
}

.footer .link ul li {
  float: left;
  padding: 0 22px 0 18px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: url(../images/line3.jpg) no-repeat 100% 62%;
}

.footer .link ul li a {
  font-size: 12px;
  color: #FFFFFF;
}

.footer .copyright {
  width: 1200px;
  margin-top: 10px;
}

.footer .copyright p {
  text-align: center;
  font-size: 12px;
  width: 950px;
  margin: 0 auto;
  line-height: 40px;
}

.footer .copyright p img {
  float: left;
  display: inline-block;
}

.footer .copyright p span {
  float: left;
}

.footer .copyright p a {
  float: left;
  color: #939393;
}

.footer .copyright p .link {
  width: 50px;
  height: 12px;
  margin-top: 15px;
}

.footer .copyright ul {
  width: 330px;
  margin: 5px auto;
}

.footer .copyright ul li {
  float: left;
  margin-right: 10px;
}

.flutter {
  width: 72px;
  height: 308px;
  position: fixed;
  bottom: 200px;
  right: 50%;
  margin-right: -680px;
  cursor: pointer;
  display: none;
}

.flutter a {
  display: block;
  width: 72px;
  height: 80px;
  background: url("../images/float_box4.png") no-repeat;
  text-indent: -99999px;
}

.flutter .a1 {
  background-position: 0 -6px;
}

.flutter .a1:hover {
  background-position: -78px -4px;
}

.flutter .a2 {
  background-position: 0 -86px;
}

.flutter .a2:hover {
  background-position: -78px -85px;
}

.flutter .a3 {
  background-position: 0 -166px;
}

.flutter .a3:hover {
  background-position: -78px -164px;
}

.flutter .a4 {
  background-position: 0 -244px;
}

.flutter .a4:hover {
  background-position: -78px -244px;
}

.list_content {
  width: 1200px;
  margin: 0 auto;
  margin-top: 33px;
}

.list_content .asideMenu_hotBuy {
  width: 182px;
  float: left;
}

.list_content .asideMenu_hotBuy .asideMenu {
  width: 180px;
  border: 1px solid #E7E7E7;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi {
  width: 100%;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi > a {
  display: block;
  width: 172px;
  height: 38px;
  border-bottom: 1px solid #E7E7E7;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  color: #333333;
  padding-left: 8px;
  position: relative;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi > a > i {
  display: block;
  width: 8px;
  height: 10px;
  background: url(../images/tri.png) no-repeat 0 -5px;
  position: absolute;
  right: 10px;
  top: 15px;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi > a .on {
  background-position: 0 5px;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi a:hover {
  text-decoration: none;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .second_floor {
  border-bottom: 1px solid #E7E7E7;
  padding-top: 15px;
  display: none;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .second_floor > li {
  line-height: 26px;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .second_floor > li > a {
  display: block;
  color: #333333;
  font-size: 12px;
  background: url(../images/plus.png) no-repeat left center;
  padding-left: 18px;
  margin-left: 10px;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .second_floor > li .three_floor {
  width: 100%;
  display: none;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .second_floor > li .three_floor > li {
  line-height: 26px;
  margin-left: 10px;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .second_floor > li .three_floor > li > a {
  font-size: 12px;
  color: #666;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .second_floor > li .three_floor > li > span {
  padding-left: 5px;
  color: #666;
  font-size: 12px;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .show {
  display: block;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .first_floorLi .noBorder {
  border-bottom: none;
}

.list_content .asideMenu_hotBuy .asideMenu .first_floor .del a {
  border: none;
}

.list_content .asideMenu_hotBuy .hotBuy {
  width: 182px;
  margin-top: 10px;
}

.list_content .asideMenu_hotBuy .hotBuy h2 {
  width: 172px;
  height: 25px;
  line-height: 25px;
  color: #FFFFFF;
  background: #333333;
  padding-left: 10px;
  font-size: 12px;
}

.list_content .asideMenu_hotBuy .hotBuy ul {
  border: 1px solid #E7E7E7;
  margin-top: 5px;
  padding-bottom: 10px;
}

.list_content .asideMenu_hotBuy .hotBuy ul li {
  padding: 8px;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a img {
  width: 162px;
  height: 162px;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a .price_sale {
  margin-top: 6px;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a .price_sale span {
  font-size: 12px;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a .price_sale .price {
  float: left;
  color: #C80A28;
  font-weight: bold;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a .price_sale .sale {
  float: right;
  color: #666666;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a .price_sale .sale i {
  color: #C80A28;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a .name {
  width: 100%;
  margin-top: 4px;
  line-height: 17px;
  color: #666666;
  font-size: 12px;
}

.list_content .asideMenu_hotBuy .hotBuy ul li a:hover {
  text-decoration: none;
}

.list_content .clothing_list {
  width: 1000px;
  float: right;
}

.list_content .clothing_list h3 {
  width: 100%;
}

.list_content .clothing_list h3 span {
  font-size: 12px;
}

.list_content .clothing_list h3 a {
  font-size: 12px;
  color: #333333;
}

.list_content .clothing_list h3 a:hover {
  text-decoration: none;
}

.list_content .clothing_list .select {
  border: 1px solid #E7E7E7;
  height: 30px;
  margin-top: 20px;
}

.list_content .clothing_list .select ul li {
  float: left;
}

.list_content .clothing_list .select ul li a {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #565656;
  border-right: 1px solid #E7E7E7;
  text-indent: -10px;
  position: relative;
}

.list_content .clothing_list .select ul li a i {
  position: absolute;
  display: block;
  width: 7px;
  height: 8px;
  right: 10px;
  top: 11px;
  background: url(../images/arrs.png) no-repeat;
}

.list_content .clothing_list .select ul li a .i1 {
  background-position: -1px -1px;
}

.list_content .clothing_list .select ul li a .i2 {
  background-position: -17px -1px;
}

.list_content .clothing_list .select ul li a .i3 {
  background-position: -9px -1px;
}

.list_content .clothing_list .select ul li .on {
  background: #FAFAFA;
}

.list_content .clothing_list .select ul li a:hover .i1 {
  background-position: -9px -1px;
}

.list_content .clothing_list .select ul li a:hover .i2 {
  background-position: -25px -1px;
}

.list_content .clothing_list .select ul li a:hover {
  text-decoration: none;
  background: #FAFAFA;
}

.list_content .clothing_list .select .selectauto {
  float: left;
  margin-left: 20px;
  padding-top: 2px;
}

.list_content .clothing_list .select .selectauto .section1 {
  display: block;
  float: left;
}

.list_content .clothing_list .select .selectauto .section1 input {
  width: 30px;
}

.list_content .clothing_list .select .selectauto .discount {
  font-size: 12px;
  line-height: 30px;
  float: left;
  margin-left: 20px;
}

.list_content .clothing_list .select .selectauto .discount input {
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  margin: 8px 5px;
}

.list_content .clothing_list .select .selectauto .discount1 {
  font-size: 12px;
  line-height: 30px;
  float: left;
  margin-left: 20px;
}

.list_content .clothing_list .select .selectauto .discount1 span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  float: left;
}

.list_content .clothing_list .select .selectauto .discount1 input {
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  margin: 8px 5px;
}

.list_content .clothing_list .select .page {
  float: right;
  font-size: 12px;
  color: #666666;
  line-height: 30px;
}

.list_content .clothing_list .select .page span {
  font-size: 12px;
  color: #666666;
  line-height: 30px;
}

.list_content .clothing_list .select .page .count {
  float: left;
  margin-right: 20px;
}

.list_content .clothing_list .select .page .first {
  float: left;
  margin-right: 10px;
}

.list_content .clothing_list .select .page .prev, .list_content .clothing_list .select .page .next {
  font-weight: bold;
  padding: 1px 3px 0;
  border: 1px solid #CCC;
  vertical-align: bottom;
  cursor: pointer;
  margin-right: 5px;
}

.list_content .clothing_list .list {
  width: 100%;
}

.list_content .clothing_list .list ul {
  width: 1012px;
  overflow: hidden;
  padding-bottom: 15px;
}

.list_content .clothing_list .list ul li {
  width: 240px;
  height: 375px;
  float: left;
  margin-right: 13px;
  margin-top: 10px;
  position: relative;
}

.list_content .clothing_list .list ul li div {
  width: 222px;
  float: left;
  border-color: #ffffff;
  border: 1px solid #E7E7E7;
  padding: 8px 8px 0 8px;
  transition: 0.2s;
}

.list_content .clothing_list .list ul li a {
  display: block;
}

.list_content .clothing_list .list ul li a img {
  width: 222px;
  height: 222px;
}

.list_content .clothing_list .list ul li .img {
  width: 30px;
  height: 30px;
  border: 1px solid #E7E7E7;
  padding: 1px;
  margin-top: 5px;
}

.list_content .clothing_list .list ul li .img img {
  width: 100%;
  height: 100%;
}

.list_content .clothing_list .list ul li .price {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.list_content .clothing_list .list ul li .price .price_new {
  color: #C80A28;
}

.list_content .clothing_list .list ul li .price .price_old {
  color: #999999;
}

.list_content .clothing_list .list ul li .name {
  width: 100%;
  float: left;
  height: 18px;
  overflow: hidden;
}

.list_content .clothing_list .list ul li .name a {
  font-size: 12px;
  color: #333333;
}

.list_content .clothing_list .list ul li .name a:hover {
  text-decoration: none;
  color: #c10001;
}

.list_content .clothing_list .list ul li .month_eval {
  position: relative;
  height: 47px;
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 0;
  color: #999;
  float: left;
  width: 106%;
  margin-left: -3%;
}

.list_content .clothing_list .list ul li .month_eval span {
  float: left;
  display: inline-block;
  border-right: 1px solid #eee;
  width: 45%;
  height: 29px;
  padding: 9px 5px;
  line-height: 18px;
  text-align: center;
}

.list_content .clothing_list .list ul li .month_eval i {
  color: #999999;
}

.list_content .clothing_list .list ul li .month_eval .month {
  color: #B57C5B;
}

.list_content .clothing_list .list ul li .month_eval .eval {
  border: none;
  color: #3388BB;
}

.list_content .clothing_list .pagelist {
  text-align: center;
  margin: 30px 0;
  font-size: 12px;
}

.list_content .clothing_list .pagelist a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 0 5px;
  border: 1px solid #E7E7E7;
  color: #565656;
}

.list_content .clothing_list .pagelist a:hover {
  text-decoration: none;
}

.list_content .clothing_list .pagelist .on {
  background: #EEEEEE;
}

.list_content .clothing_list .pagelist .prev, .list_content .clothing_list .pagelist .next {
  width: 60px;
  background: #EEEEEE;
}

.list_content .clothing_list .pagelist span {
  font-size: 14px;
}
