//头部样式
.top{
    width:100%;
    .top_container{
        width:100%;
        height: #{$topLineHeight}px;
        background:#F5F5F5;
        border-bottom:$borderStyle;
        .top_center{
            width:1200px;
            margin: 0 auto;
            position: relative;
            ul li{
                width:75px;
                float:left;
                height: #{$topLineHeight}px;
                text-align: center;
                line-height:#{$topLineHeight}px;
                >a{
                    color:#FF0033;
                    font-size:#{$fontSize}px;
                    font-weight:bold;
                }
                a:hover{
                    color:#{$colorA};
                    text-decoration: none;
                }
                .collect{
                    color:#565656;
                }
                .collect:hover{
                    color:#{$colorA};
                }
            }
            .login_out{
                float: right;
                .welcome{
                    display: block;
                    line-height:#{$topLineHeight}px;
                    float: left;
                    font-size: #{$fontSize}px;
                    font-weight: bold;
                    color:#000000;
                }
                >a{
                    display: block;
                    float: left;
                    line-height: #{$topLineHeight}px;
                    font-size:#{$fontSize}px;
                    color:#565656;
                    font-weight: bold;
                }
                a:hover{
                    color:#{$colorA};
                    text-decoration:none;
                }
                .login{
                    margin-left: 16px;
                }
                .register{
                    color:#{$colorA};
                    margin-left:9px;
                }
                .shoppingCar{
                    margin-left:15px;
                  width:45px;
                    background:url(../images/line.jpg) no-repeat 100% 50%;
                }
                .online-service{
                    margin-left:13px;
                }
                .help-center{
                    margin-left:21px;
                }
                .websiteNav{
                    float: left;
                }
                >a{
                    margin-left:21px;
                }
                a i{
                    display: block;
                    line-height: #{$topLineHeight}px;
                    width:12px;
                    margin-right:5px;
                    float: left;
                    margin-top:10px;
                    height: 10px;
                    background:url(../images/icon.png) no-repeat -32px -28px;
                }
            }
        }
    }
    //网站导航下拉
    .websiteNav{
        .siteMenuA{
            display: block;
            float: left;
            line-height: #{$topLineHeight}px;
            font-size:#{$fontSize}px;
            color:#565656;
            font-weight: bold;
            margin-left:21px;
        }
    }
    .websiteNav .siteMenu{
        width:1184px;
        position: absolute;
        top: 30px;
        left: 0;
        display: none;
        background: white;
        padding:7px;
        border:#{$borderStyle};
        z-index:9;
        ul{
            width:15%;
            float: left;
            height: 137px;
            margin-left:25px;
            border-right:#e5e5e5 1px solid;
            span{
                margin-left:3px;
            }
            h3{
                font-size: 16px;
                line-height: 35px;
                font-weight: bold;
            }
            li{
                width: 50%;
                height:24px;
                line-height: 24px;
                float: left;
                text-align: left;
                >a{
                    color: #666666;
                    font-size:#{$fontSize}px;
                    font-weight: normal;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
        .hot h3{
            color: #f56b03;
        }
        .Hstyle{
            width:25%;
            h3{
                color:#ec0736;
            }
        }
        .AMH{
            h3{
                color:#2263d4;
            }
            li{
                width: 100%;
                line-height: 24px;
                float: left;
            }
        }
        .mini{
            h3{
                color:#5e8e3d;
            }
            li{
                width: 100%;
                line-height: 24px;
                float: left;
            }
        }
        .help{
            border-right: none;
            h3{
                color:#686868;
            }
        }
    }
    //logo部分+检索框+二维码
    .logo_search{
        width:1200px;
        margin: 0 auto;
        height: 133px;
        h1{
            width:355px;
            height: 75px;
            margin-top: 13px;
            float: left;
            a{
                display: block;
                width:100%;
                height: 100%;
            }
        }
        //检索框
        .search{
            width:492px;
            float: left;
            margin-left: 45px;
            margin-top: 28px;
            .search_con{
                height:36px;
                background:#{$colorA};
                .text{
                    width:407px;
                    margin: 2px 0 0 2px;
                    height: 32px;
                    border: none;
                    float: left;
                    outline: none;
                    color:#{$colorA};
                }
                .button{
                    width:81px;
                    background:#{$colorA};
                    height:32px;
                    margin:2px 0 0 2px;
                    float: right;
                    font-size:16px;
                    font-weight:bold;
                    color:white;
                    border: none;
                    cursor: pointer;
                }
            }
            //底部列表
            .search_list{
                margin-top:10px;
                li{
                    width:65px;
                    float: left;
                    background:url(../images/line2.jpg) no-repeat 90% 84%;
                    a{
                        font-size:#{$fontSize}px;
                        color:#666;
                    }
                    a:hover{
                        text-decoration: none;
                        color:#{$colorA};
                    }
                }
            }
        }
        .code{
            float: left;
            margin: 16px 0 0 168px;
            img{
                width:100px;
                height: 100px;
            }
            span{
                display: block;
                font-size: #{$fontSize}px;
                line-height:15px;
                height:15px;
                color:#FF0032;
                font-weight: bold;
            }
        }
    }
    //全部商品分类
    .allClassify_container{
        width:1200px;
        margin: 0 auto;
        .allClassify{
            >a{
                display: block;
                width:100px;
                height: 33px;
                float: left;
                line-height:33px;
                font-size:14px;
                font-weight: bold;
                color:#000000;
                text-align: center;
            }
        }
        a:hover{
            text-decoration: none;
            color:#{$colorA};
        }
        .allClassify{
            float: left;
            position: relative;
            z-index: 2;
            >a{
                width:190px;
                background:#FE0032;
                color:white;
            }
            .navList{
                position: absolute;
                height: 450px;
                top: 33px;
                left: 0;
                background: #e3e3e3;
                li{
                    width:164px;
                    padding: 9px 13px;
                    position: relative;
                    border-bottom: 1px dotted #ccc;
                    float: left;
                    h3{
                        font-size:14px;
                        font-weight: bold;
                        color: #333333;
                        height:24px;
                        .listNav1{
                            display: inline-block;
                            width:18px;
                            height: 18px;
                            float: left;
                            margin: 1px 5px 0 0;
                            img{
                                width:100%;
                                height: 100%;
                                //display: none;
                            }
                            .show{
                                display: block;
                            }
                        }
                    }
                    >a{
                        width: auto;
                        height: auto;
                        display: inline-block;
                        color: #555;
                        font-size: 12px;
                        margin: 0 1px;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                    >span{
                        display: block;
                        position: absolute;
                        width:6px;
                        height: 9px;
                        top: 17px;
                        right: 8px;
                        background: url("../images/leftjt.png") no-repeat;
                    }
                }
                .on{
                    background:black;
                    h3{
                        color: #ffffff;
                    }
                    a{
                        color: #ffffff;
                    }
                    //.show{
                    //    display: block;
                    //}
                }
            }
        }
        .first_show,.second_show,.three_show,.four_show,.five_show{
            width:500px;
            height: 450px;
            position: absolute;
            left: 190px;
            top: 33px;
            display: none;
            a:hover{
                text-decoration: underline;
                color:#8B8989;
            }
        }
        .first_show1{
            background:RGBA(255,255,255,1);
            height: 450px;
            width:250px;
            ul{
                float: left;
                li{
                    width:92px;
                    height: 50px;
                    position: relative;
                    img{
                        width:70px;
                        height: 25px;
                        position: absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        margin: auto;
                    }
                }
            }
        }
        //.first_show1,.second_show1,.three_show1,.four_show1{
        //    display: none;
        //}
        .second_show1,.three_show1,.four_show1,.five_show1{
            background:RGBA(255,255,255,0.9);
            height: 448px;
            padding: 2px 12px 0 13px;
            ul{
                width:100%;
                border-bottom:1px dashed #DEDBDB;
                margin-top: 9px;
                h3{
                    font-size:18px;
                    color:#393636;
                }
                li{
                    float: left;
                    line-height:24px;
                    height: 24px;
                    background:url("../images/line.jpg") no-repeat right center;
                    padding: 0 9px;
                    a{
                        font-size:12px;
                        color:#8B8989;
                    }
                }
                li:last-child{
                    background:none;
                }
            }
        }
        .three_show1,.four_show1,.five_show1{
            .img{
                display: block;
                width:70px;
                height: 25px;
                float: left;
                margin-top:10px;
                padding:0 25px 0 21px;

            }
        }
        .four_show1{
            width:500px;
            height:330px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .five_show1{
            width:500px;
            height:160px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        //团购批发
        .group_buying{
            width:100px;
            margin-left:16px;
            display: block;
            height: 33px;
            float: left;
            line-height:33px;
            font-size:14px;
            font-weight: bold;
            color:#000000;
            text-align: center;
        }
        //韩都资讯、招兵买马
        .inform_adver{
            float: right;
            width:200px;
            .information{
                background:url(../images/sjt.png) no-repeat 85% 50%;
            }
            a{
                display: block;
                width:100px;
                height: 33px;
                float: left;
                line-height:33px;
                font-size:14px;
                font-weight: bold;
                color:#000000;
                text-align: center;
            }
        }
    }
}
//footer
.footer{
    width:1200px;
    margin: 0 auto;
    margin-top: 58px;
    //新手指南等
    .help{
        width:1133px;
        height: 125px;
        background:#FAFAFA;
        padding-top: 20px;
        padding-left: 67px;
        .help_info1{
            h4{
                background-position: -8px 1px;
            }
        }
        .help_info2{
            h4{
                background-position: -8px -34px;
            }
        }
        .help_info3{
            h4{
                background-position: -8px -67px;
            }
        }
        .help_info4{
            h4{
                background-position: -8px -100px;
            }
        }
        .help_info5{
            h4{
                background-position: -8px -133px;
            }
        }
        .help_info6{
            width:133px;
            h4{
                background-position: -8px -166px;
            }
        }
    }
    .help_info{
        float: left;
        width:200px;
        h4{
            width:100px;
            height: 20px;
            text-indent: -99999px;
            background:url(../images/footer01.png) no-repeat;
            margin-bottom: 4px;
        }
        li{
            height: 20px;
            line-height: 20px;
            a{
                font-size:#{$fontSize}px; 
                color:#565656;
            }
        }
    }
    //promise
    .promise{
        width:100%;
        height: 95px;
        margin:20px 0;
        background:url(../images/feature1.png) no-repeat top center;
    }
    //link
    .link{
        width: 100%;
        height: 30px;
        background:#393939;
        ul{
            width:696px;
            margin: 0 auto;
            li{
                float: left;
                padding: 0 22px 0 18px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                background:url(../images/line3.jpg) no-repeat 100% 62%;
                a{
                    font-size:#{$fontSize}px;
                    color:#FFFFFF;
                }
            }
        }
    }
    //copyright
    .copyright{
        width:1200px;
        margin-top: 10px;
        p{
            text-align: center;
            font-size:#{$fontSize}px;
            width:950px;
            margin: 0 auto;
            line-height: 40px;
            img{
                float:left;
                display: inline-block;
            }
            span{
                float: left;
            }
            a{
                float: left;
                color:#939393;
            }
            .link{
                width:50px;
                height: 12px;
                margin-top:15px;
            }
        }
        ul{
            width:330px;
            margin: 5px auto;
            li{
                float:left;
                margin-right:10px;
            }
        }
    }
}
.flutter{
  width:72px;
  height: 308px;
  position: fixed;
  bottom:200px;
  right: 50%;
  margin-right:-680px;
  cursor:pointer;
  display: none;
  a{
    display: block;
    width: 72px;
    height: 80px;
    background:url("../images/float_box4.png") no-repeat;
    text-indent: -99999px;
  }
  .a1{
    background-position: 0 -6px;
  }
  .a1:hover{
    background-position: -78px -4px;
  }
  .a2{
    background-position: 0 -86px;
  }
  .a2:hover{
    background-position: -78px -85px;
  }
  .a3{
    background-position: 0 -166px;
  }
  .a3:hover{
    background-position: -78px -164px;
  }
  .a4{
    background-position: 0 -244px;
  }
  .a4:hover{
    background-position: -78px -244px;
  }
}